BUNDLE_LOADER = $(TEST_HOST)
INFOPLIST_FILE = AwesomeProjectTests/Info.plist
IPHONEOS_DEPLOYMENT_TARGET = 8.0
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
OTHER_LDFLAGS = -ObjC -lc++
PRODUCT_NAME = $(TARGET_NAME)
TEST_HOST = $(BUILT_PRODUCTS_DIR)/AwesomeProject.app/AwesomeProject
