ASSETCATALOG_COMPILER_APPICON_NAME = App Icon & Top Shelf Image
ASSETCATALOG_COMPILER_LAUNCHIMAGE_NAME = LaunchImage
CLANG_ANALYZER_NONNULL = YES
CLANG_WARN_DOCUMENTATION_COMMENTS = YES
CLANG_WARN_INFINITE_RECURSION = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES
GCC_NO_COMMON_BLOCKS = YES
INFOPLIST_FILE = AwesomeProject-tvOS/Info.plist
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
OTHER_LDFLAGS = -ObjC -lc++
PRODUCT_BUNDLE_IDENTIFIER = com.facebook.REACT.AwesomeProject-tvOS
PRODUCT_NAME = $(TARGET_NAME)
SDKROOT = appletvos
TARGETED_DEVICE_FAMILY = 3
TVOS_DEPLOYMENT_TARGET = 9.2
