BUNDLE_LOADER = $(TEST_HOST)
CLANG_ANALYZER_NONNULL = YES
CLANG_WARN_DOCUMENTATION_COMMENTS = YES
CLANG_WARN_INFINITE_RECURSION = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES
GCC_NO_COMMON_BLOCKS = YES
INFOPLIST_FILE = AwesomeProject-tvOSTests/Info.plist
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
PRODUCT_BUNDLE_IDENTIFIER = com.facebook.REACT.AwesomeProject-tvOSTests
PRODUCT_NAME = $(TARGET_NAME)
SDKROOT = appletvos
TEST_HOST = $(BUILT_PRODUCTS_DIR)/AwesomeProject-tvOS.app/AwesomeProject-tvOS
TVOS_DEPLOYMENT_TARGET = 10.1
